PORT=5001

# Supabase PostgreSQL Configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-supabase-anon-or-service-key

# Gmail SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yogeshwar11012k02@gmail.com
SMTP_PASS=mxjjfmseefipgdmu

# MongoDB Connection URI (Optional)
MONGODB_URI=mongodb+srv://Cluster72763:RM0sUGk2ZNfXqOmg@cluster72763.1cagmtu.mongodb.net/
